<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/web3@1.7.0/dist/web3.min.js"></script>
    <title>Document</title>
    </head>
    <body>
        <button onclick="accessAccounts()">Connect</button>
        <h1>Welcome</h1>
        <script>


            window.addEventListener('load', async () => {
                
                /*let currentWeb3;


                if (window.ethereum) {
                    //currentWeb3 = new Web3(window.ethereum);
                    console.log(window.ethereum);
                    try {
                        // Request account access if needed
                        //window.ethereum.enable();
                        // Accounts now exposed
                    //resolve(currentWeb3);
                    } catch (error) {
                        // User denied account access...
                        alert('Please allow access for the app to work');
                    }
                } else if (window.web3) {
                    //window.web3 = new Web3(web3.currentProvider);
                    // Acccounts always exposed
                    //resolve(currentWeb3);
                } else {
                    console.log('Non-Ethereum browser detected. You should consider trying MetaMask!');
                }*/

                await run();

            });

            /*function accessAccounts() {
                window.ethereum
                .request({ method: 'eth_requestAccounts' })
                .then((accounts) => {
                    if (accounts.length === 0) {
                        // MetaMask is locked or the user has not connected any accounts
                        console.log('Please connect to MetaMask.');
                    } else {
                        console.log(accounts);
                    }
                })
                .catch((err) => {
                    if (err.code === 4001) {
                        // EIP-1193 userRejectedRequest error
                        // If this happens, the user rejected the connection request.
                        console.log('Please connect to MetaMask.');
                    } else {
                        console.error(err);
                    }
                });
            }*/

            
            async function loadWeb3() {
                if (window.ethereum) {
                    window.web3 = new Web3(window.ethereum);
                    //window.ethereum.enable();
                }
            }

            async function loadContract() {
                
                //let abi = <%= raw @contract.abi %>
                let address = "0xd9145CCE52D386f254917e481eB44e9943F39138";
                return await new window.web3.eth.Contract(abi, address);
            }
                
            async function getCurrentAccount() {
                const accounts = await ethereum.request({ method: 'eth_requestAccounts' });
                return accounts[0];
            }

            async function run() {
                await loadWeb3();
                window.contract = await loadContract();
                const account = await getCurrentAccount();

                console.log(window.contract);
                console.log(account);

                let result = await window.contract.methods.verifyTx(proof, inputs).send({
                    from: account,

                });
                console.log(result);


                /*let result = await window.contract.methods.mint().send({ from: account });
                console.info("== result: ", result)
                if(result.status && result.transactionHash){
                    location.href="/front_ends/mark_claim_done?contract_id=" + <%= params[:id] %> + "&tx=" + result.transactionHash
                }*/
            }

            /*if(document.getElementById('do_claim_by_user')){
                document.getElementById('do_claim_by_user').addEventListener('click', async () => {
                    if (typeof window.ethereum !== 'undefined') {
                        run()
                    }else {
                        alert('You have not installed a wallet(e.g. Metamask) yet, please install.')
                    }
                });
            }*/

            // Inputs
            let inputs = [
                "0x000000000000000000000000000000000000000000000000000000000011bba1"
            ];


            // Proof
            let proof = {
                "a": [
                    "0x1a3068710aa6577a0cb8dedf039ce6761ab7e03f45112d8958bad8b70680b29b",
                    "0x1e29c27efe5675170787f8e5f4a2a8361e69eabd6a8c2cb4cc1f564b0ddbdb09"
                ],
                "b": [
                    [
                        "0x240905d2a726508a5917e4371ee261a4e13ad5f70005fbcec894d285ffec932f",
                        "0x2a589009d0b9ddc45a56236e465daa93228d11b01ed439c4716c6cfc6adf9d1f"
                    ],
                    [
                        "0x2630acfd05c7f3e18ed42605a1977ee4c896b6bcfbdcd9afa2fa2a803daf106c",
                        "0x0c3a2b0d84d80f4d59773eb5715600e881f31080b8834ca4992369657810e93f"
                    ]
                ],
                "c": [
                    "0x0c805061012897357ac284d9a985aa8e9ae8bde7cece393640f0e3da14ca135a",
                    "0x227321abe10eac1264abe59658bc8e0345f31c356e8fde756e63a1afd9beb382"
                ]
            }

            // Raw contract ABI
            let abi = [
                {
                    "inputs": [
                        {
                            "components": [
                                {
                                    "components": [
                                        {
                                            "internalType": "uint256",
                                            "name": "X",
                                            "type": "uint256"
                                        },
                                        {
                                            "internalType": "uint256",
                                            "name": "Y",
                                            "type": "uint256"
                                        }
                                    ],
                                    "internalType": "struct Pairing.G1Point",
                                    "name": "a",
                                    "type": "tuple"
                                },
                                {
                                    "components": [
                                        {
                                            "internalType": "uint256[2]",
                                            "name": "X",
                                            "type": "uint256[2]"
                                        },
                                        {
                                            "internalType": "uint256[2]",
                                            "name": "Y",
                                            "type": "uint256[2]"
                                        }
                                    ],
                                    "internalType": "struct Pairing.G2Point",
                                    "name": "b",
                                    "type": "tuple"
                                },
                                {
                                    "components": [
                                        {
                                            "internalType": "uint256",
                                            "name": "X",
                                            "type": "uint256"
                                        },
                                        {
                                            "internalType": "uint256",
                                            "name": "Y",
                                            "type": "uint256"
                                        }
                                    ],
                                    "internalType": "struct Pairing.G1Point",
                                    "name": "c",
                                    "type": "tuple"
                                }
                            ],
                            "internalType": "struct Verifier.Proof",
                            "name": "proof",
                            "type": "tuple"
                        },
                        {
                            "internalType": "uint256[1]",
                            "name": "input",
                            "type": "uint256[1]"
                        }
                    ],
                    "name": "verifyTx",
                    "outputs": [
                        {
                            "internalType": "bool",
                            "name": "r",
                            "type": "bool"
                        }
                    ],
                    "stateMutability": "view",
                    "type": "function"
                }
            ];

        </script>
    </body>
</html>


